<div class="container-fluid row">
    <img class="rounded-circle mb-4" src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png" alt="Error 404" style="max-width: 300px; margin: auto" />
    <div class="text-center mt-4">
        <h1 class="text-info">You've reached the end of the internet</h1>
        <hr />
        <a class=" btn btn-outline-success" asp-asp-controller="Movie" asp-action="Index">HomePage</a>
    </div>

</div>


